{% extends "../home.html" %}
{% load static %}

{% block contenido %}
<br>
<br>
<br>
    <div class="text-center">
        <ul>
            <p><img src="{{avatar}}" class="img-fluid rounded-top" alt=""></p>
            <p>{{user.username}}</p>
            <p>{{user.email}}</p>
            <p>{{Info.description}}</p>
            <p>Links sociales: </p>
            {%if info.link != "" %}
            <a href="{{Info.link}}">{{Info.link}}</a>
            {% endif %}
        </ul>
        <a href="{%url 'editProfile' %}" class="btn btn-success" style="text-decoration: none; color: white;"> Editar Perfil</a>
        <a href="{% url 'editAvatar' %}" class="btn btn-success" style="text-decoration: none; color: white;"> Avatar</a>
    </div>
{% endblock %}