.navText{
    color: white !important;
}

.btnEliminar a{
    border-radius: 15px !important;
    color: white !important;
    text-decoration: none !important;
}

.containerForm{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    background-image: url("../../img/FondoLogin.jpg")!important;
}

.formLogin{
    font-weight: bold;
    background-color:rgb(194, 104, 14) ;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    width: 350px;
    height: 300px;

}
.formRegister{
    font-weight: bold;
    background-color:rgb(194, 104, 14) ;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    width: 350px;
    height: 450px;

}
.formRegister div{
    margin-bottom: 20px;
    display: flex;
    justify-content: center !important; 
    align-items: center;
}
.formLogin div{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLogin{
    border-radius: 5px;
    border: 1px solid rebeccapurple;
    width: 90%;
}