{% extends "blog/home.html" %}
{% load static %}
{% block contenido %}
<br>
<br>
<br>
<div class="container">
    <h2 class="text-center text-dark">
        Acerca de Mi
    </h2>
    <br>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-success">
                 <div class="card-body text-center">
                     <img src="{% static 'img/self.jfif' %}" class="rounded-circle mb-3" width="150px">
                 <h3 class="card-title mb-3">Guido Ormeño</h3>
                 <p class="card-text">Estudiante de Coderhouse</p>
                 </div>
            </div>
        </div>
        <div class="col">
         <div class="">
            <br>
            <br>
            <br>
            <br>
              <div class="text-center">
                 <p>Mi nombre es Guido y actualmente estoy estudiando el lenguaje de programacion Pyhton y el framework Django en la comision 54485 de Coderhouse</p>
              </div>
         </div>
     </div>
    </div>
 </div>
 <br>
 <br>
 <br>
 <br>
{% endblock %}